@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("sitetheme.css");
*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    background-color: var(--background-body);
}

nav{
    padding: 10px 20px;
    width: 100%;
    position: sticky;
    z-index: 100;
    background-color: var(--background-nav);
}
nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 8%; */
    /* margin: 0 20px; */
    width: 80%;
    margin: auto;
}
.profile_photo{
    height: 2.5rem;
    width: 2.5rem;
}
.profile_photo img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.menu-btn{
    display: none;
    border: none;
    /* border:1px solid grey; */
    background-color: transparent;
    border-radius: 12px;
    padding: 0 4px;
    color:var(--main-text);
}
/* set krle isko khud mai call pe huok */
.menu-btn i{
    font-size: 20px;
}
.logo{
    display: flex;
    gap:30px;
    align-items: center;
}
.logo>button{
    border: none;
}
.search_bar{
    display: flex;
    gap:20px;
    align-items: center;
    border-radius: 25px;
    padding: 8px 30px;
    background-color: var(--background-body);
    width: 50%;
}
.search_bar input{
    padding: 5px;
    color:var(--main-text);
    background-color: var(--background-body);
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
}
.search_bar i{
    color:var(--main-text);
}
.search_bar input:focus, input{
    outline: none;
    border: none;
}
@media screen and (max-width:431px){
    .search_bar{
        width: 150px;
        padding: 2px 5px;
    }
    .heading>h2{
        width: max-content;
        font-size:1rem;
        padding: 0;
        margin: 0;
    }
    .menu-btn{
        display: inline-block;
    }
    nav .logo>button{
        display: none;
    }
    nav .container{
        width: 100%;
        margin: 0;
        padding: 0;
    }
}
.heading{
    font-size: 1rem;
    font-weight: 100;
    display: flex;
    gap:10px;
    color:var(--main-text);
}

.btn{   
    border-radius:20px;
    background-color: var(--btn-color);
    padding: 8px 25px;
    color:white;
    font-weight: 500;
}
.btn:hover{
    background-color: var(--hover-btn-color);
}
main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.mypost-heading{
    font-size: 0.8rem;
    padding: 20px;
    width: 100%;
}
.mypost-text{
    font-size: 1.5rem;
    text-align: center;
    color:var(--main-text);
    margin:10px 0px;
}
.back{
    position: absolute;
    left:2%;
    cursor: pointer;
    color:var(--main-text);
}

/* post design */

.posts{
    width: 100%;
    /* margin: auto; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.post{
    background-color: var(--background-nav);
    padding: 10px;
    border-radius: 20px;
    position: relative;
    margin-bottom: 15px;
    width: 40%;
}
@media screen and (max-width:431px) {
    .post{
        width: 95%;
        margin: 5px;
    }
    
}
.profile_name h3{
    font-size: 0.8rem;
    letter-spacing: 1px;
    color:var(--main-text);
}
.profile_name p{
    font-size: 0.5rem;
    color:var(--main-text);
}
.postnavleft{
    gap:10px;
}
.postby{
    padding: 6px 6px;
    display: flex;
    justify-content: space-between;

}
.postby .right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.post-profile {
    height: 2.5rem;
    width: 2.5rem;
    /* padding: 5px 0; */
    border-radius: 50px;
}
.post-profile img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.profile_name{
    line-height: 15px;
}
.postimage{
    width: 100%;
    aspect-ratio: 4/3;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}
.postimage img{
    width: fit-content;
    max-width: 100%;
    height: 100%;
    object-fit: contain;
}
.postcaption{
    padding: 0 10px;
    color:var(--main-text);
}
.postcaption i{
    font-size: 1.5rem;
}
.postlikedby{
    padding: 0 10px;
}
.likedusers{
    width: 10%;
    padding: 0;
    margin: 0;
}
.likedusers>img{
    position: absolute;
    width: 20px;
    aspect-ratio: 1/1;
    border-radius: 100%;
    border: 1px solid white;
    top: -7px;
}
.likedusers> :nth-child(1){
    left: 8px;
    z-index: 1;
}
.likedusers> :nth-child(2){
    left: 16px;
    z-index: 2;
}
.postlikedby p{
    font-size: 0.8rem;
    padding-top: 5px;
    color:var(--main-text);
}
.postdescription{
    padding-left: 10px;
    padding-top: 5px;
    font-size: 0.8rem;
    color:var(--main-text);
}

.postmenu-wrapper{
    color:var(--main-text);
    cursor: pointer;
}
#postmenu{
    color:var(--main-text);
    cursor: pointer;
}
.deletePost {
    position: absolute;
    right: 4%;
    padding: 10px;
    font-size: 1rem;
    color: white;
    background-color: grey;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.deletePost:hover {
    background-color: rgb(3, 3, 3);
    color: white;
    transform: scale(1.05);
}

.postmenu{
    color:white;
    cursor: pointer;
} 