/* General Styles */
body {
    font-family: Arial, sans-serif;  
    /* background-color: #f4f4f4; */
    /* background-color: black; */
    /* background: linear-gradient(to top,to bottom,blue,red); */
    background: url(bg.jpg);

    display: flex;
    justify-content: center;
    align-content: center;
    height: 100vh;
    width: 100%;
    margin: 0;

}

.container {
    align-self: center;
    background: rgba(0, 0, 0, 0.459);
    padding: 10px 10px;
    border-radius: 20px;
    /* box-shadow: 0px -2px 20px rgba(255, 255, 255, 0.8); */
    width: 400px;
    text-align: center;
    height:490px;
    color: white;
    margin: 20px;
    /* padding-bottom: 20px; */
    /* overflow: hidden; */
}
.names{
    display: flex;
    gap:5px;   
    align-items: center;
    justify-content: center;
}
#first-name{
    width: 35%;
}
#last-name{
    width: 35%;
}
.login-container {
    align-self: center;
    background: rgba(0, 0, 0, 0.459);
    padding: 10px 15px;
    border-radius: 20px;
    color: white;
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); */
    width: 350px;
    text-align: center;
    height: 350px;
    margin: 20px;
}

h2 {
    color: #ffffff;
    font-size:1.5rem;
    margin: 0;
    font-weight: 800;
    margin-bottom: 15px;
    margin-top: 12px;
}
#socialnest{
    font-size: 2rem;
    font-weight: 700;
}


#register-form{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 15px;
    height: 100%;
    width: 100%;
}
.siteinfo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5px;

}
.siteinfo img{
    height: 40px;
    width: 40px;
    aspect-ratio: 1/1;
   
}
.siteinfo h1{
    font-size: 2rem;
}
#login-form{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 30px;
}
input, select, button {
    padding: 10px;
    /* border: 1px solid #ccc; */
    border: none;
    border-radius: 15px;
    width: 70%;
}

button {
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    border: none;
}
#gender{
    width: 75%;
}

button:hover {
    background-color: #0056b3;
}

p {
    margin-top: 10px;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
.login{
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
